{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    <div class="d-flex justify-content-center">
        {{ include('user/_form.html.twig') }}
    </div>

{#    <a href="{{ path('user_index') }}">back to list</a>#}
{% endblock %}
